# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER=
MONGO_DB_URL=
NEXT_PUBLIC_CREDENTIAL_URL=
NEXT_PUBLIC_MARKETPLACE_URL=
NEXT_PUBLIC_WPCAS_URL=
NEXT_PUBLIC_WPCAS_SURVEY_URL=
NEXT_PUBLIC_OBSRV_URL=
USER_SERVICE_TOKEN=
USER_SERVICE_URL=
